/****************************************
              Form Styles
*****************************************/
.outer-form {
  font-size:100%;
  width:auto;
  height:auto;
  padding: 3rem;
  background-color: #ADD8E6;
  box-shadow: 10px 5px grey;
}
/*  Responsive outer form */
@media screen and (min-width:640px) {
  .outer-form { padding: 1rem; }
}
@media screen and (min-width:960px) {
  .outer-form { padding: 2rem;}
}
@media screen and (min-width:1100px) {
  .outer-form { padding: 5rem; }
}

.main-form {
  margin: 0 auto;
  max-width: none;
  background-color: #5C7DA2;
  border-radius: 10px;
  font-family: 'Salsa';
}

.inner-form {
  padding: 2rem;
  margin-top:1rem;
  margin-bottom:1rem;
  border-radius: 15px;
}
/*  Responsive inner form */
@media screen and (max-width:640px) {
  .inner-form {
    margin-top:0.5rem;
    padding: 0.5rem;
  }
}
.input-group {
  padding: 0.333rem 1rem 0 0;
}

/****************************************
              Form control
*****************************************/
.form-control.error {
  border-color: #FF3333;
  margin:0;
  padding:0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 71, 71, 0.6);
}

/****************************************
              Buttons
*****************************************/
button.button {
  background: #2B4B6F;
  border: 1px solid #2B4B6F;
  border-radius: 10px;
  padding: 10px 15px;
  margin:0.333rem;
  font-family: 'Salsa';
  font-weight: bold;
  color: #5C7DA2;
  text-transform: uppercase;
  font-size: 11px;
  transition: all 200ms ease-out;
  outline: none;
}

button.button:hover {
  background: #B6D1F0;
}

button.button.disabled {
  background: #F9E610;
  opacity: 0.6;
  cursor: default;
}

button.button.product-remove {
  background: #A52A2A;
  border: 1px solid #FF4747;
  color: #FAA460;
}

button.button.product-remove:hover {
  background: #FF4747;
}

.new-button {
  display: flex;
  flex-direction: row-reverse;
}

/****************************************
              Lables and Titles
*****************************************/
label {
  font-size: 1.333rem;
  color: #202020;
}
.title {
  padding: 0.333rem 0 1.5rem 0;
  text-transform: uppercase;
  font-family: 'Salsa';
  color: #A8D4CF;
  font-size:100%;
}
/*  Responsive title fonts */
@media screen and (max-width: 639px) {
  .title h1 { font-size: 1rem; }
}
@media screen and (min-width: 640px) {
  .title h1 { font-size:1.5rem; }
}
@media screen and (min-width:960px) {
  .title h1 { font-size:2rem; }
}
@media screen and (min-width:1100px) {
  .title h1 { font-size:2.5rem; }
}
/****************************************
              Input Sytles
*****************************************/
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea {
  background-color: #FFF;
  border: 0.5rem;
  border-radius: 5px;
  outline: none;
  height: 2rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 1.5rem 0;
  padding: 1rem 0 1rem 0;
  box-shadow: none;
  box-sizing: border-box;
  transition: all .2s;
  text-indent: 0.5rem;

  /* Disabled input style */
  &:disabled

  /* Focused input style */
  &:focus:not([readonly]) {
    border-bottom: 1px solid #eecc37;
    box-shadow: 0 1px 0 0 #eecc37;
  }

  /* Focused label style */
  &:focus:not([readonly])+label {
    color: #eecc37;
  }

  /* Valid input style */
  &.valid,
  &:focus.valid {
    border-bottom: 1px solid #75bf43;
    box-shadow: 0 1px 0 0 #75bf43;
  }

  /* Custom Success Message */
  &.valid + label:after,
  &:focus.valid + label:after {
    content: attr(data-success);
    color: #75bf43;
    opacity: 1;
  }

  /* Invalid Input Style */
  &.invalid,
  &:focus.invalid {
    border-bottom: #ed2648;
    box-shadow: 0 1px 0 0 #ed2648;
  }

  /* Custom Error message */
  &.invalid + label:after,
  &:focus.invalid + label:after {
    content: attr(data-error);
    color: #ed2648;
    opacity: 1;
  }

  /* Form Message Shared Styles */
  & + label:after {
    font-size:0.75rem;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    right: 0;
    text-align: right;
    opacity: 0;
    transition: .2s opacity ease-out, .2s color ease-out;
    max-width: 60%;
    line-height: 1rem;
  }
}

textarea {
  height: 5rem;
}

/* select styles */
select { display: block; }
select {
  background-color:  #FFF;
  width: 100%;
  padding: 0 0.5rem;
  border:1px solid #cfd8db;
  height: 2rem;
  margin-bottom:1.5rem;
  font-size: 1rem;
  border-radius: 5px;
}
.select-label {
  position: absolute;
}

select:disabled {
  color: #afbdc4;
}

/****************************************
              Error Sytles
*****************************************/
.text-danger {
  font-size:1rem;
  font-weight: bold;
  color:#A94442;
  padding: 0 0 0 0;
  margin:0;
}

a.text-danger:hover,a.text-danger:focus {
  color:#843534;
}

.divider {
  height: 1px;
  overflow: hidden;
  background-color:grey;
  margin-top:0.333rem;
  margin-bottom:0.333rem;
}

.admin-icons {
  max-width: 20px;
  max-height: 20px;
}
