.modal-container {
  display: none;
}

.modal-container.show {
  display: block;
}

.modal {
  display: block;
  position: fixed;
  top:10rem;
  left: 0;
  right: 0;
  /* background-color: #e6e9ea; */
  background-color:#B0B0B0;
  padding: 0;
  max-height: 70%;
  max-width: 40%;
  margin: auto;
  overflow-y: auto;
  z-index:1000;
  /* border-radius: 5px; */
  border: 3px solid grey;
  border-radius: 10px;
}
.modal-title-container {
  /* title rectangle */
  padding: 0.666rem;
  background: #680B0B;
  border-radius: 5px;
}

.modal-title {
  /* title label*/
  font-family: 'Salsa';
  font-size: 1.6rem;
  /*    font-weight: bold; */
  color:#D1B1B1;
}
.modal-content {
  padding: 1rem;
  font-family: 'Salsa';
  font-size: 1.3rem;
}
.modal-close {
  cursor: pointer;
}

.modal-footer {
  border-radius: 0 0 2px 2px;
  background-color:#B0B0B0;
  padding: 0 1rem 1rem;
  /* width: 100%; */
  display: inline-block;

  .btn {
    /* float: left; */
    margin: 0 3px;
    /* min-width: 120px; */
    background: #680B0B;
    border: 1px solid #680B0B;
    border-radius: 10px;
    padding: 10px 15px;
    margin:0.222rem;
    text-transform: uppercase;
    font-size: 11px;
    transition: all 200ms ease-out;
    outline: none;
    color:#D1B1B1;
  }
}

.lean-overlay {
  position: fixed;
  z-index:999;
  top: -100px;
  /* left: 0;
  bottom: 0;
  right: 0; */
  /* height: 125%;
  width: 100%; */
  /* background: #000; */
  opacity: 0.4;
}

// Modal with fixed action footer
.modal.modal-fixed-footer {
  padding: 0;
  height: 70%;

  .modal-content {
    position: absolute;
    height: calc(100% - 56px);
    max-height: 100%;
    /* width: 100%; */
    overflow-y: auto;
  }

  .modal-footer {
    border-top: 1px solid rgba(0,0,0,.1);
    padding-top:1rem;
    position: absolute;
    bottom: 0;
  }
}
